.Details_container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff82e4 ;
    margin-left: 35%;
    margin-right: 20%;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 450px;
    color:aliceblue;
    padding: 10px;
}



